{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="carousel carousel slide mt-4 mb-5" id="main-carousel" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner rounded-5">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'img/college-overview1.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Добро пожаловать в БПОУ "Омский АТК"</h5>
        <p>Бюджетное профессиональное образовательное учреждение Омской области</p>
        <a class="btn btn-outline-light mb-2" href="#">Подробнее о нас</a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'img/college-overview2.jpeg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Услуги населению</h5>
        <p>Колледж предоставляет населению услуги по обучению вождению в автошколе по категориям В и С на собственном автодроме, а также по техническому осмотру и диагностике легковых автомобилей на современном оборудовании. Возможность пройти профессиональную подготовку, повышение квалификации, а уже работающим – переподготовку в многофункциональном центре прикладных квалификаций.</p>
        <a class="btn btn-outline-light mb-2" href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="px-4 py-5">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 lh-lg">
    <div class="feature col">
      <div class="feature-icon bg-dark bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#people"/></svg>
      </div>
      <h2>Абитуриентам</h2>
      <a href="#" class="icon-link">
        Приемная комиссия
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="icon-link">
        Специальности
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="icon-link">
        Правила приема в колледж 2021
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="btn btn-outline-dark mt-4 bg-gradient">Подробнее</a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-dark bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#book"/></svg>
      </div>
      <h2>Студентам</h2>
      <a href="#" class="icon-link">
        Студенческие новости
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="icon-link">
        Учебные материалы
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="icon-link">
        Расписание занятий
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="btn btn-outline-dark mt-4 bg-gradient">Подробнее</a>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-dark bg-gradient">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#award"/></svg>
      </div>
      <h2>Выпускникам</h2>
      <a href="#" class="icon-link">
        Трудоустройство выпускников
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="icon-link">
        Карьера и поиск работы
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="icon-link">
        Вакансии
        <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
      </a>
      <a href="#" class="btn btn-outline-dark mt-4 bg-gradient">Подробнее</a>
    </div>
  </div>
</div>
<h1 class="text-center mb-5">События</h1>
<div class="container mb-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <a href="#" class="col-2 btn btn-outline-dark bg-gradient">Все события</a>
  </div>
</div>
<h1 class="text-center mb-5" style="margin-top: 2em;">Новости</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card rounded-5">
        <div class="row g-0">
          <div class="col-md-4 my-auto">
            <img src="{% static 'img/logo.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Открытие Мастерских 55/23 в СМИ!</h5>
              <p class="card-text">В нашем колледже открылось четыре мастерских, оснащенным современным оборудованием в соответствии со стандартами Ворлдскиллс Россия. Губернатор Омской области Александр Бурков оценил подготовку студентов автотранспортного колледжа в новых Мастерских 55/23</p>
              <a href="#" class="btn btn-outline-dark bg-gradient">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <a href="#" class="col-2 btn btn-outline-dark bg-gradient">Все новости</a>
  </div>
</div>
{% endblock content %}