{% load static %}

<div class="container-fluid bg-dark">
  <div class="container text-light" id="footer" style="z-index: 999999;">
    <footer class="row row-cols-5 pt-5 mt-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="{% static 'img/logo.png' %}" alt="..." class="bi me-2" width="279" height="124">
        </a>
      </div>
      <div class="col"></div>
      <div class="col">
        <h5>Абитуриентам</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Приемная комиссия</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Абитуриенту 2021</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Специальности</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Направления подготовки</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Стоимость обучения</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Общежития</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Студентам</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Студенческая жизнь</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Спортивная жизнь</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Расписание занятий</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Учебные материалы</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Библиотека</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Практическое обучение</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Курсовые работы и дипломное проектирование</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Подготовка к ГИА</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Научно-исследовательская работа</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Оплата обучения</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Педагог-психолог</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Социальная сфера</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Сотрудникам</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Методический кабинет</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Корпоративная почта@oatk.org</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Войти в Дневник.ру</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Личный кабинет EDUCON</a></li>
        </ul>
      </div>
    </footer>
    <footer class="row row-cols-5 pb-5 pt-4 mb-5">
      <div class="col"></div>
      <div class="col">
        <h5>Инфо-РУМ</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Доска объявлений</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Мастерские ИНФО-Рум</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Официальные документы</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Наши достижения</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Фотогалерея</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Программа "110 тысяч"</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Национальный проект «Демография»</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Минитипография</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Мастерские 55/23</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Доска объявлений</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Мастерские 55/23</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Официальные документы</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Сетевое взаимодействие</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Наши достижения</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Фотогалерея</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Программа 110</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>МЦПК</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Многофункциональный центр прикладных квалификаций</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Фото-Видео</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Автошкола</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Пункт технического осмотра</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>УМО 09.00.00</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Доска объявлений</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Состав и структура УМО</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Деятельность УМО</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Новости и достижения</a></li>
        </ul>
      </div>
    </footer>
    <div class="d-flex justify-content-between py-4 my-4 border-top" style="padding-bottom: 2% !important;">
      <p>&copy; 2021 БПОУ "Омский АТК"</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-light" href="#"><i class="fa fa-vk"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="fa fa-youtube"></i></a></li>
        <li class="ms-3"><a class="link-light" href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</div>