{% load static %}
<div id="sidebar-anchor"></div>
<div class="flex-shrink-0 p-3 bg-white" style="width: 280px; float: left;" id="sidebar">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom justify-content-center">
    <img src="{% static 'img/logo.png' %}" alt="..." class="bi me-2" width="140" height="60">
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        О колледже
      </button>
      <div class="collapse" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Новости</a></li>
          <li><a href="#" class="link-dark rounded">Объявления</a></li>
          <li><a href="#" class="link-dark rounded">Колледж сегодня</a></li>
          <li><a href="#" class="link-dark rounded">Цикловые методические комиссии</a></li>
          <li><a href="#" class="link-dark rounded">Билет в будущее</a></li>
          <li><a href="#" class="link-dark rounded">Программа "110 тысяч"</a></li>
          <li><a href="#" class="link-dark rounded">Благотворительный фонд</a></li>
          <li><a href="#" class="link-dark rounded">Воспитательная работа</a></li>
          <li><a href="#" class="link-dark rounded">История, достижения, музей</a></li>
          <li><a href="#" class="link-dark rounded">Система менеджмента качества</a></li>
          <li><a href="#" class="link-dark rounded">Библиотека</a></li>
          <li><a href="#" class="link-dark rounded">Движение WorldSkills</a></li>
          <li><a href="#" class="link-dark rounded">Меры противодействия коррупции</a></li>
          <li><a href="#" class="link-dark rounded">Противодействие экстремизму</a></li>
          <li><a href="#" class="link-dark rounded">Вакансии</a></li>
          <li><a href="#" class="link-dark rounded">ФИП</a></li>
          <li><a href="#" class="link-dark rounded">Охрана труда</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#about-organization-collapse" aria-expanded="false">
        Сведения об организации
      </button>
      <div class="collapse" id="about-organization-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Основные сведения</a></li>
          <li><a href="#" class="link-dark rounded">Структура и органы управления образовательной организацией</a></li>
          <li><a href="#" class="link-dark rounded">Документы</a></li>
          <li><a href="#" class="link-dark rounded">Образование</a></li>
          <li><a href="#" class="link-dark rounded">Образовательные стандарты РФ</a></li>
          <li><a href="#" class="link-dark rounded">Руководство. Педагогический (научно-педагогический) состав</a></li>
          <li><a href="#" class="link-dark rounded">Материально-техническое обеспечение и оснащённость образовательного процесса</a></li>
          <li><a href="#" class="link-dark rounded">Стипендии и иные виды материальной поддержки</a></li>
          <li><a href="#" class="link-dark rounded">Платные образовательные услуги</a></li>
          <li><a href="#" class="link-dark rounded">Финансово-хозяйственная деятельность</a></li>
          <li><a href="#" class="link-dark rounded">Вакантные места для приёма (перевода) обучающихся</a></li>
          <li><a href="#" class="link-dark rounded">Доступная среда</a></li>
          <li><a href="#" class="link-dark rounded">Международное сотрудничество</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#applicants-collapse" aria-expanded="false">
        Абитуриентам
      </button>
      <div class="collapse" id="applicants-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Приемная комиссия</a></li>
          <li><a href="#" class="link-dark rounded">Абитуриенту 2021</a></li>
          <li><a href="#" class="link-dark rounded">Специальности</a></li>
          <li><a href="#" class="link-dark rounded">Направления подготовки</a></li>
          <li><a href="#" class="link-dark rounded">Стоимость обучения</a></li>
          <li><a href="#" class="link-dark rounded">Общежития</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#students-collapse" aria-expanded="false">
        Студентам
      </button>
      <div class="collapse" id="students-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Студенческая жизнь</a></li>
          <li><a href="#" class="link-dark rounded">Спортивная жизнь</a></li>
          <li><a href="#" class="link-dark rounded">Расписание занятий</a></li>
          <li><a href="#" class="link-dark rounded">Учебные материалы</a></li>
          <li><a href="#" class="link-dark rounded">Библиотека</a></li>
          <li><a href="#" class="link-dark rounded">Практическое обучение</a></li>
          <li><a href="#" class="link-dark rounded">Курсовые работы и дипломное проектирование</a></li>
          <li><a href="#" class="link-dark rounded">Подготовка к ГИА</a></li>
          <li><a href="#" class="link-dark rounded">Научно-исследовательская работа</a></li>
          <li><a href="#" class="link-dark rounded">Оплата обучения</a></li>
          <li><a href="#" class="link-dark rounded">Педагог-психолог</a></li>
          <li><a href="#" class="link-dark rounded">Социальная сфера</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#staff-collapse" aria-expanded="false">
        Сотрудникам
      </button>
      <div class="collapse" id="staff-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Методический кабинет</a></li>
          <li><a href="#" class="link-dark rounded">Корпоративная почта@oatk.org</a></li>
          <li><a href="#" class="link-dark rounded">Войти в Дневник.ру</a></li>
          <li><a href="#" class="link-dark rounded">Личный кабинет EDUCON</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#inforoom-collapse" aria-expanded="false">
        Инфо-РУМ
      </button>
      <div class="collapse" id="inforoom-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Доска объявлений</a></li>
          <li><a href="#" class="link-dark rounded">Мастерские ИНФО-Рум</a></li>
          <li><a href="#" class="link-dark rounded">Официальные </a></li>
          <li><a href="#" class="link-dark rounded">Наши достижения</a></li>
          <li><a href="#" class="link-dark rounded">Фотогалерея</a></li>
          <li><a href="#" class="link-dark rounded">Программа "110 тысяч"</a></li>
          <li><a href="#" class="link-dark rounded">Национальный проект «Демография»</a></li>
          <li><a href="#" class="link-dark rounded">Минитипография</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#workshop-collapse" aria-expanded="false">
        Мастерские 55/23
      </button>
      <div class="collapse" id="workshop-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Доска объявлений</a></li>
          <li><a href="#" class="link-dark rounded">Мастерские 55/23</a></li>
          <li><a href="#" class="link-dark rounded">Официальные документы</a></li>
          <li><a href="#" class="link-dark rounded">Сетевое взаимодействие</a></li>
          <li><a href="#" class="link-dark rounded">Наши достижения</a></li>
          <li><a href="#" class="link-dark rounded">Фотогалерея</a></li>
          <li><a href="#" class="link-dark rounded">Программа 110</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#mcpk-collapse" aria-expanded="false">
        МЦПК
      </button>
      <div class="collapse" id="mcpk-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Многофункциональный центр прикладных квалификаций</a></li>
          <li><a href="#" class="link-dark rounded">Фото-Видео</a></li>
          <li><a href="#" class="link-dark rounded">Автошкола</a></li>
          <li><a href="#" class="link-dark rounded">Пункт технического осмотра</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <a href="#" class="btn btn-toggle align-items-center rounded">
        ФИП
      </a>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#umo-collapse" aria-expanded="false">
        УМО 09.00.00
      </button>
      <div class="collapse" id="umo-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Доска объявлений</a></li>
          <li><a href="#" class="link-dark rounded">Состав и структура УМО</a></li>
          <li><a href="#" class="link-dark rounded">Деятельность УМО</a></li>
          <li><a href="#" class="link-dark rounded">Новости и достижения</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>